{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "sort-imports-es6-autofix"],
    "ignorePatterns": "*.html",
    "rules": {
        // Statements must end with semicolons (has autofix)
        "semi": ["error", "always"],
        // Double quotes for strings (has autofix)
        "quotes": ["error", "double"],
        // Sort imports (has autofix)
        "sort-imports-es6-autofix/sort-imports-es6": [
            "error",
            {
                "ignoreCase": true
            }
        ],
        // No using relative paths for imports from parent directories
        // No autofix; trying to find one that works
        "no-restricted-imports": [
            "error",
            {
                "patterns": ["../*"]
            }
        ]
    }
}
